@import '../../utils/styles/_constants';
@import '../../utils/styles/_mixins';

.task-page {
  @include grid-column-1fr;
  box-sizing: border-box;
  padding: 30px 20px 0;

  &__task {
    margin: 20px 0 45px;
    @include flex-column;
    row-gap: 40px;
  }

  &__block-img {
    background-color: $background-gray;
    border-radius: $border-radius-block;
    position: relative;
  }

  &__task-number {
    @include reset-margins;
    @include number-card-task;
    font-size: 32px;
    left: 22px;
    top: 10px;
  }

  &__task-img {
    @include img-card-task;
    border-radius: 200px 10px 0px 0px;
  }

  &__description {
    @include flex-column;
    row-gap: 15px;
  }

  &__title {
    @include reset-margins;
    @include font-w600-sz18;
    font-size: 24px;
    color: #AC4C3E;
    margin-bottom: 5px;
  }

  &__text {
    @include reset-margins;
    @include font-w400-sz18;
    color: $font-color-black-darck;
  }
}
