@import '../../utils/styles/_constants';
@import '../../utils/styles/_mixins';

.task-page {
  @include grid-column-1fr;
  box-sizing: border-box;
  padding: 30px 0 0;

  &__task {
    margin: 20px auto 45px;
    @include flex-column;
    row-gap: 40px;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;

    @include media_530 {
      padding-left: 7%;
      padding-right: 7%;
    }

    @include media_768 {
      flex-direction: row;
      column-gap: 50px;
    }
  }

  &__block-img {
    background-color: $background-gray;
    border-radius: $border-radius-block;
    position: relative;
    @include max-width-mixin(530px);

    @include media_1280 {
      max-width: 715px;
      background-color: $background-white;
    }
  }

  &__task-number {
    @include reset-margins;
    @include number-card-task;
    font-size: 32px;
    left: 22px;
    top: 10px;

    @include media_1280 {
      font-size: 72px;
      top: 0;
      left: 0;
    }
  }

  &__task-img {
    @include img-card-task;
    border-radius: 200px 10px 0px 0px;

    @include media_1280 {
      border-radius: 400px 10px 10px 10px;
    }
  }

  &__description {
    @include flex-column;
    row-gap: 15px;
    @include max-width-mixin(530px);
  }

  &__title {
    @include reset-margins;
    @include font-w600-sz18;
    font-size: 24px;
    color: #AC4C3E;
    margin-bottom: 5px;
  }

  &__text {
    @include reset-margins;
    @include font-w400-sz18;
    color: $font-color-black-darck;

    @include media_1280 {
      font-size: 20px;
    }
  }
}
