@import '../../utils/styles/_constants';
@import '../../utils/styles/_mixins';

.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $background-white;
  width: 280px;
  min-height: 100vh;
  flex-direction: column;
  row-gap: 45px;
  z-index: 1000;

  &__button-list {
    @include reset-margins;
    list-style-type: none;
    margin-top: 45px;
    justify-self: center;
    @include flex-column;
    row-gap: 20px;
    align-items: center;
  }

  &__button-sign-in {
    @include button-cta;
    padding: 15px 96px;
    @include font-w600-sz16;
  }

  &__button-sign-up,
  &__button-exit {
    @include reset-button;
    justify-self: center;
    @include link-button-orange;
  }

  &_visible {
    display: flex;
  }
}
