@import '../../utils/styles/_constants';
@import '../../utils/styles/mixins';

.quest-card-profile {
  margin: 0 20px;
  box-sizing: border-box;
  max-width: 400px;
  width: calc(100% - 40px);
  padding: 30px;
  background-color: $background-light-gray;
  border-radius: $border-radius-block;
  @include flex-column;
  row-gap: 30px;

  @include media_530 {
    margin: 0;
    width: 100%;
  }

  &__name {
    @include reset-margins;
    @include h2;
    color: $font-color-blue;
  }

  &__quest-data {
    @include flex-column;
    row-gap: 10px;

    @include media_1024 {
      margin-bottom: 23px;
    }
  }

  &__category {
    @include reset-margins;
    @include font-w600-sz18;
    color: $font-color-gray;
  }

  &__category-name {
    @include reset-margins;
    @include font-w600-sz24;
    color: $font-color-blue;

    &_empty {
      color: $font-color-gray;
    }
  }

  &__category-description {
    @include reset-margins;
    @include font-w400-sz18;
  }

  &__button-edit {
    @include reset-button;
    @include link-button-orange;
    align-self: flex-start;
  }

  &__button-refuse {
    @include reset-button;
    @include button-sign-up;
    @include font-w600-sz16;
    font-size: 15px;
    color: $font-color-white;
    padding: 7px 10px;
    width: 184px;

    @include media_768 {
      margin-bottom: 0;
      margin-top: auto;
    }

    @include media_1024 {
      font-size: 20px;
      width: 296px;
      padding: 16px 25px;
    }
  }
}
