$background-blue: #003B59;
$background-white: #fff;
$background-gray: #EDF0F2;
$background-gradient-faq: radial-gradient(104.3% 215.81% at -39.38% 165.74%, rgba(249, 161, 53, 0.2) 0%, rgba(249, 161, 53, 0) 100%), #EDF0F2;
$background-gradient-no-quests: radial-gradient(70.36% 70.36% at -11.32% -37.94%, rgba(249, 161, 53, 0.2) 0%, rgba(249, 161, 53, 0) 100%), radial-gradient(59.97% 77.7% at 115.45% 65.77%, rgba(2, 118, 151, 0.2) 0%, rgba(2, 118, 151, 0) 100%), #FFFFFF;

$font-color-white: #fff;
$font-color-black: #131211;
$font-color-gray: #79848A;
$font-color-red: #AC4C3E;
$font-color-orange: #F9A135;
