// styles
@mixin reset-margins {
  margin: 0;
  padding: 0;
}

@mixin background-gradient-image-quest($url) {
  background: radial-gradient(44.43% 53.16% at 30.93% 5.57%, rgba(1, 128, 162, 0.2) 0%, rgba(1, 128, 162, 0) 100%), linear-gradient(102.92deg, #003B59 4.72%, rgba(0, 59, 89, 0) 65.23%), linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url($url);
}

@mixin button {
  border-radius: 10px;
  font-weight: 600;
  color: $font-color-white;
  cursor: pointer;
  border: none;
  box-sizing: border-box;

  &_disabled {
    background-color: $button-color-disabled;
    color: $font-color-gray;
    cursor: default;
  }
}

@mixin button-cta {
  background-color: $button-color-cta;
  border-radius: 10px;
  color: $font-color-white;
  font-weight: 600;
  cursor: pointer;
  border: none;
  box-sizing: border-box;

  &:hover {
    background-color: $button-color-cta-hover;
  }

  &_active {
    background-color: $button-color-cta-active;
  }
}

@mixin button-sign-up {
  background-color: $button-color-sign-up;
  border-radius: 10px;
  color: $font-color-white;
  font-weight: 600;
  cursor: pointer;
  border: none;
  box-sizing: border-box;

  &:hover {
    background-color: $button-color-sign-up-hover;
  }

  &_active {
    background-color: $button-color-sign-up-active;
  }
}

@mixin h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: $font-color-white;
  max-width: 390px;
  width: 100%;

  @media screen and (min-width: 530px) {
    font-size: 54px;
    max-width: 600px;
  }

  @media screen and (min-width: 768px) {
    font-size: 64px;
  }
}

@mixin h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.19;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: $font-color-black;

  @media screen and (min-width: 768px) {
    font-size: 36px;
  }
}

@mixin reset-button {
  background-color: transparent;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
}

@mixin button-header {
  width: 30px;
  height: 30px;
}

// media queries
@mixin media_530 {
  @media screen and (min-width: 530px) {
    @content;
  }
}

@mixin media_768 {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin media_1024 {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin media_1280 {
  @media screen and (min-width: 1280px) {
    @content;
  }
}
