@import '../../utils/styles/_constants';
@import '../../utils/styles/mixins';

.button-go-back {
  @include reset-button;
  @include image-background(
    '../../images/icon-go-back.svg',
    '../../images/icon-go-back-hover.svg',
    '../../images/icon-go-back.svg'
  );
  width: 15px;
  height: 26px;
  margin-left: 20px;

  @include media_530 {
    margin-left: 7%;
  }
}
