@import '../../utils/styles/_constants';
@import '../../utils/styles/mixins';

.popup-account-data {
  display: none;
  position: absolute;
  @include max-width-mixin(303px);
  background-color: $background-blue-light;
  box-sizing: border-box;
  padding: 25px 20px 30px;
  border-radius: $border-radius-block;
  top: 60px;
  right: 20px;
  z-index: 10000;

  @include media_768 {
    top: 110px;
    right: 3%;
  }

  @include media_1280 {
    top: 130px;
    right: 6.5%;
  }

  &__team {
    display: flex;
    column-gap: 10px;
    align-items: center;
    cursor: default;
  }

  &__name {
    @include reset-margins;
    @include font-w600-sz24;
    color: $font-color-black-darck;
  }

  &__members {
    @include reset-margins;
    color: $font-color-red;
    @include font-w600-sz24;
  }

  &__category {
    display: flex;
    column-gap: 10px;
    margin-left: 60px;
    margin-top: 5px;
    cursor: default;
  }

  &__name-category {
    @include reset-margins;
    color: $font-color-black;
    @include font-w400-sz16;
  }

  &__button-exit {
    @include reset-button;
    margin-top: 20px;
    color: $font-color-gray;
    @include font-w400-sz20;
  }

  &_visible {
    display: block;
  }
}
