@import '../../utils/styles/_constants';
@import '../../utils/styles/_mixins';

.form-choice-category {
  margin-top: 50px;

  @include media_768 {
    margin-top: 65px;
  }

  &__category-list {
    @include reset-margins;
    list-style-type: none;
    row-gap: 35px;
    @include grid-column-1fr;

    @include media_1024 {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 93px;
    }
  }

  &__category {
    @include flex-column;
    row-gap: 10px;
    @include max-width-mixin(400px);
  }

  &__label {
    position: relative;

    &:hover {
      cursor: pointer;
    }

    &:hover .form-choice-category__name {
      color: $font-color-red;

      &::before {
        content: url(../../images/icon-radio-hover.svg);
      }
    }
  }

  &__input {
    position: absolute;
    opacity: 0;
    z-index: -1;

    &:checked+.form-choice-category__name {
      color: $font-color-red;

      &::before {
        content: url(../../images/icon-radio-active.svg)
      }
    }

    &:disabled {
      cursor: default;

      &+.form-choice-category__name {
        color: $font-color-gray;

        &::before {
          content: url(../../images/icon-radio-disabled.svg)
        }
      }
    }
  }

  &__name {
    @include font-w600-sz20;

    &::before {
      cursor: pointer;
      display: inline-block;
      margin-right: 15px;
      height: 20px;
      width: 20px;
      content: url(../../images/icon-radio-normal.svg);
      vertical-align: top;
    }

    @include media_768 {
      font-size: 24px;
    }
  }

  &__short-descriplion {
    @include reset-margins;
    @include font-w600-sz16;
    color: $font-color-black-darck;

    @include media_768 {
      font-size: 20px;
      margin-top: 10px;
    }
  }

  &__long-description {
    @include reset-margins;
    @include font-w400-sz16;
    color: $font-color-black-darck;
    opacity: .5;

    @include media_768 {
      font-size: 20px;
    }
  }

  &__long-description-list {
    @include reset-margins;
    @include font-w400-sz16;
    color: $font-color-black-darck;
    opacity: .5;
    list-style-type: none;
    @include flex-column;
    row-gap: 5px;

    @include media_768 {
      font-size: 20px;
      margin-top: 10px;
    }
  }

  &__long-description-item {
    position: relative;
    padding-left: 18px;

    &::before {
      content: url(../../images/icon-list-style-dist.svg);
      position: absolute;
      top: calc(50% - 10px);
      left: 0;
    }
  }

  &__button-list {
    @include reset-margins;
    @include flex-column;
    list-style-type: none;
    row-gap: 20px;
    margin-top: 75px;
    align-items: center;

    @include media_768 {
      flex-direction: row-reverse;
      column-gap: 20px;
      margin-top: 65px;
      justify-content: start;
    }
  }

  &__button-submit {
    @include button-cta;
    padding: 15px 0;
    width: 302px;
    font-size: 16px;

    @include media_768 {
      font-size: 20px;
      width: 193px;
    }
  }

  &__button-cancel {
    @include reset-button;
    @include link-button-orange;

    @include media_768 {
      font-size: 20px;
    }
  }
}
