@import '../../utils/styles/_constants';
@import '../../utils/styles/_mixins';

.list-exercise {
  display: grid;
  grid-template-columns: 1fr;
  padding: 30px 20px 50px;
  box-sizing: border-box;

  @include media_768 {
    padding: 30px 7% 142px;
  }

  &__title {
    @include reset-margins;
    @include h2;
    margin-top: 20px;
    cursor: default;

    @include media_768 {
      margin-top: 30px;
    }
  }

  &__info {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: $background-white;
    padding: 10px 0;
    box-sizing: border-box;
    z-index: 10;
  }

  &__category {
    @include reset-margins;
    @include max-width-mixin(150px);
    border-radius: $border-radius-block;
    padding: 15px 25px;
    text-align: center;
    background-color: $background-blue-light;
    box-sizing: border-box;
    cursor: default;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $font-color-red;

    @include media_768 {
      max-width: 240px;
      font-size: 20px;
      padding: 15px 19px;
    }
  }

  &__category-span {
    display: none;

    @include media_768 {
      display: inline-block;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.2;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: $font-color-gray;
      margin-right: 11px;
    }
  }

  &__list {
    @include reset-margins;
    list-style-type: none;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 30px;
  }

  &__pagination {
    @include reset-margins;
    margin-top: 30px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $font-color-gray;
  }

  &__button-next-page {
    @include button-cta;
    margin-top: 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
    padding: 15px 0;
    @include max-width-mixin(302px);
  }
}
