@import '../../utils/styles/_constants';
@import '../../utils/styles/_mixins';

.about-project {
  display: grid;
  grid-template-columns: 1fr;
  padding: 17px 20px 104px;
  box-sizing: border-box;

  @include media_768 {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 65px 75px;
    column-gap: 9.7%;
    margin-top: -50px;
  }

  @include media_1024 {
    margin-top: -20px;
  }

  &__section-title {
    @include reset-margins;
    @include h2;
    margin-top: 17px;

    @include media_768 {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }

    @include media_1280 {
      margin-top: 10px;
    }
  }

  &__icon-free-part {
    width: 277px;
    justify-self: end;

    @include media_768 {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      height: min-content;
    }

    @include media_1280 {
      width: 338px;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 30px;
    margin-bottom: 58px;

    @include media_768 {
      grid-column: 2 / 3;
      grid-row: 3 / 4;
    }
  }

  &__text {
    @include reset-margins;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $font-color-black;

    @include media_1280 {
      font-size: 20px;
    }
  }

  &__photo {
    width: 300px;
    justify-self: center;

    @include media_768 {
      grid-column: 1 / 2;
      grid-row: 1 / 5;
      align-self: center;
    }

    @include media_1280 {
      width: 576px;
    }
  }
}
