@import '../../utils/styles/_constants';
@import '../../utils/styles/_mixins';

.link-to-account {
  display: block;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.17;
  color: $font-color-white;
  text-decoration: none;
  cursor: pointer;
  box-sizing: border-box;
  padding: 11px 16px;
  border-radius: 50%;
  background-color: $button-color-sign-up;

  &:hover {
    background-color: $button-color-sign-up-hover;
  }
}
