@import '../../utils/styles/_constants';
@import '../../utils/styles/mixins';

.form-change-password {
  @include flex-column;
  row-gap: 40px;

  &__message {
    @include reset-margins;
    text-align: center;
    @include font-w400-sz14;
    color: $font-color-blue;

    @include media_768 {
      font-size: 24px;
    }
  }

  &__input-block {
    @include input-block;
  }

  &__button-list {
    @include reset-margins;
    display: flex;
    list-style-type: none;
    align-self: center;
    column-gap: 35px;
    align-items: center;
  }

  &__button-cancel {
    @include reset-button;
    @include link-button-orange;

    @include media_768 {
      font-size: 20px;
    }
  }

  &__button-cta {
    @include button-cta;
    font-size: 16px;
    padding: 15px 30px;

    @include media_768 {
      font-size: 20px;
    }
  }
}
