@import '../../utils/styles/_constants';
@import '../../utils/styles/_mixins';

.answer-form {
  background-color: $background-blue-light;
  padding: 40px 20px 50px;
  box-sizing: border-box;
  @include flex-column;

  @include media_530 {
    padding-left: 40px;
  }

  @include media_1024 {
    margin: 0 7% 143px;
    border-radius: $border-radius-block;
    padding: 44px 0 55px 105px;
    background-image: url(../../images/background-answer.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__answer {
    @include flex-column;
    row-gap: 25px;

    @include media_1024 {
      row-gap: 20px;
    }
  }

  &__first-input {
    @include font-w600-sz18;
    color: $font-color-black;
    @include reset-margins;
    position: relative;

    &::before {
      @include input-number(
        '../../images/icon-one.svg',
        '../../images/icon-one-1024.svg');
    }

    @include media_1024 {
      font-size: 20px;
    }
  }

  &__input-text {
    @include input;
    @include max-width-mixin(500px);
    @include font-w400-sz20;
    padding: 16px;

    @include media_768 {
      font-size: 24px;
    }
  }

  &__input-number {
    @include input;
    width: 40px;
    @include font-w400-sz20;
    padding: 9px 0;
    text-align: center;

    @include media_768 {
      width: 55px;
      font-size: 24px;
    }
  }

  &__input-type {
    @include reset-margins;
    @include font-w400-sz14;
    color: $font-color-blue;
    margin-left: 20px;

    @include media_768 {
      align-self: center;
    }

    @include media_1024 {
      font-size: 16px;
    }

    &::before {
      content: url(../../images/icon-attention.svg);
      margin-right: 8px;
      vertical-align: middle;
    }

    &_number {
      align-self: center;
    }

    &_date {
      break-after: always;
      align-self: center;
    }
  }

  &__input-validation {
    @include font-w400-sz14;
    color: $font-color-gray;
    margin-left: 10px;
  }

  &__field-answer {
    display: flex;
    row-gap: 10px;
    column-gap: 5px;

    &_type_text {
      flex-direction: column;

      @include media_768 {
        flex-direction: row;
      }
    }

    &_type_date {
      @include max-width-mixin(300px);
      flex-wrap: wrap;
      align-items: end;

      @include media_768 {
        max-width: 510px;
      }
    }
  }

  &__input-block_dot {
    display: flex;
    align-items: end;

    &::after {
      content: url(../../images/icon-dot.svg);
      margin-bottom: 0;
      margin-left: 5px;
    }
  }

  &__photo {
    @include flex-column;
    row-gap: 25px;
  }

  &__second-input {
    @include font-w600-sz18;
    color: $font-color-black;
    @include reset-margins;
    margin-top: 30px;

    @include media_1024 {
      font-size: 20px;
      position: relative;
      margin-top: 60px;
    }

    &::before {
      @include input-number(
        '../../images/icon-two.svg',
        '../../images/icon-two-1024.svg');
    }
  }

  &__input-file {
    visibility: hidden;
    position: absolute;
    width: 200px;
  }

  &__photo-label {
    @include input;
    box-sizing: border-box;
    padding: 100px 0 32px;
    text-align: center;
    @include link-button-orange;
    cursor: pointer;
    position: relative;
    @include max-width-mixin(500px);

    @include media_530 {
      max-width: 320px;
    }

    @include media_1024 {
      max-width: 295px;
    }

    &::before {
      position: absolute;
      content: url(../../images/icon-download.svg);
      width: 40px;
      height: 40px;
      top: 30px;
      left: calc((100% - 40px) / 2);
    }
  }

  &__button-list {
    @include reset-margins;
    list-style-type: none;
    margin-top: 40px;
    @include flex-column;
    row-gap: 20px;
    align-items: center;

    @include media_530 {
      flex-direction: row-reverse;
      column-gap: 40px;
      justify-content: start;
    }

    @include media_1024 {
      margin-top: 60px;
    }
  }

  &__button-submit {
    @include button-cta;
    font-size: 16px;
    width: 302px;;
    box-sizing: border-box;
    padding: 15px 0;
    text-align: center;

    @include media_530 {
      width: 150px;
    }

    @include media_1024 {
      font-size: 20px;
    }
  }

  &__button-go-back {
    @include reset-button;
    @include link-button-orange;
  }
}
