@import '../../utils/styles/_constants';
@import '../../utils/styles/_mixins';

.benefits {
  background-color: $background-gray;
  box-sizing: border-box;
  padding: 95px 20px 100px;
  width: 100%;

  @include media_768 {
    padding: 60px 5% 85px;
  }

  @include media_1280 {
    padding: 60px 10.4% 85px;
  }

  &__list {
    @include reset-margins;
    list-style-type: none;
    @include flex-column;
    row-gap: 70px;
    align-items: center;

    @include media_768 {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  &__item {
    @include flex-column;
    align-items: center;
    @include max-width-mixin(300px);

    @include media_768 {
      max-width: 250px;
    }

    @include media_1280 {
      max-width: 286px;
    }
  }

  &__title {
    @include reset-margins;
    margin-top: 20px;
    @include text-s20-w500;
    font-weight: 600;
    color: $font-color-black;

    @include media_768 {
      font-size: 18px;
    }
  }

  &__text {
    @include reset-margins;
    margin-top: 10px;
    @include font-w400-sz18;
    text-align: center;
    color: $font-color-black;

    @include media_768 {
      font-size: 16px;
    }

    @include media_1024 {
      font-size: 16px;
    }

    @include media_1280 {
      font-size: 20px;
    }
  }
}
